@font-face {
    font-family: Pixel;
    src: url(../fonts/RasterForgeRegular-JpBgm.ttf);
}

@font-face {
    font-family: Symtext;
    src: url(../fonts/Symtext.ttf);
}

@font-face {
    font-family: Levenim;
    src: url(../fonts/levenim-mt-regular.ttf);
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/assets/img/Untitled\ design\ \(3\).png);
    background-size: cover;
    font-family:Levenim;
}

.landing-container {
    text-align: center;
    background:rgba(255, 255, 255, 0.781);
    padding: 30px;
    height: 21rem;
    width: 40rem;
    border-radius: 20px;
    border-color: rgb(130, 180, 30);
     border-width: 0.5em;
    border-style: solid;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    margin-top: 3rem;
    margin-left: 2rem;
}

h1 {
    font-size: 3.3rem;
    margin-bottom: 18px;
}

p {
    font-size: 1.1rem;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.try-now-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-image: linear-gradient(to bottom right, rgb(255, 149, 0),orange,   yellow);
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: 800;
}

.try-now-button:hover {
    background-color: #45a049;
}
